.title{
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 75px;
}

.title::after {
  content: '';
  width: 10%;
  height: 5px;
  display: block;
  background: rgb(100,100,100);
  transition: 300ms;
  border-radius: 100px;
}

.icons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

  .icons .iconStyle{
    color: rgb(75, 255, 75);
    margin-bottom: 20px;
  }

.iconOrder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .iconOrder:hover {
    transition-duration: 250ms;
    text-shadow: white 0px 0px 5px , 0px 0px 5px;
}