.title{
    font-size: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 65px;
}

.title::after {
  content: '';
  width: 8%;
  height: 5px;
  display: block;
  background: rgb(100,100,100);
  border-radius: 100px;
}

.icons{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

  .icons .iconStyle{
    color: rgb(75, 255, 75);
    margin-bottom: 20px;
  }

.iconOrder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .iconOrder:hover {
    transition-duration: 250ms;
    text-shadow: white 0px 0px 5px , 0px 0px 5px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .icons{
    font-size: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
}
