.container {
    width: 900px;
    margin: auto;

    color: black;
    background-color: rgb(75, 255, 75);
}

.container img {
    width: 900px;
    margin: auto;

}

.container p {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}