.fixed {
    display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(75, 255, 75);
    font-weight: bolder;
  }

.li1 {
    display: inline;
    color: black;
    font-size: 30px;
}
.ul1{
   display: flex;
   flex-direction:row;
   justify-content: flex-start;
}

.li2 {
    display: inline;
    color: black;
    font-size: 30px;
}

.ul2{
    position: absolute;
    right: 50px;
}