.title{
    font-size: 50px;
    margin-left: 100px;
}

.title::after {
    content: '';
    width: 7%;
    height: 5px;
    display: block;
    background: rgb(100,100,100);
    transition: 300ms;
    border-radius: 100px;
  }

.subtitle{
    margin-left: 150px;
    margin-bottom: 30px;
}

.container{
    margin-left: 150px;
    display: flex;
    align-items: flex-start;
}

.mailContact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}

.input{
    font-size:20px;
    width: 70%;
    background-color: transparent ;
    color: white;
    padding: 15px;
    /* border-radius: 5px; */
    border-style: solid;
    border-width: 3px;
    border-color: rgb(75, 255, 75);
    margin-bottom: 20px;
}

.input::placeholder{
    color: rgb(156, 156, 156);
}
.input:focus{
    outline: none;
/*     transition-duration: 250ms;
    box-shadow: white 0px 0px 4px 0px, 0px 0px 4px 0px ; */
}

.contact{
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 70%;
    background-color: transparent ;
    color: rgb(75, 255, 75);
    /* padding: 15px; */
    /* border-radius: 5px; */
  /*   border-style: solid;
    border-width: 3px;
    border-color: rgb(75, 255, 75); */
    margin-bottom: 20px;
}

.contact a{
    margin-left: 30px;
}

.button{
    font-size:20px;
    width: 75%;
    background-color: transparent ;
    color: #111111;
    padding: 15px;
    /* border-radius: 5px; */
    border-style: solid;
    border-color: rgb(75, 255, 75);
    background-color: rgb(75, 255, 75);
}

.button:hover{
    cursor: pointer;
/*     transition-duration: 250ms;
    box-shadow: white 0px 0px 4px 0px, 0px 0px 4px 0px ; */
}

textarea{
    resize: none;
}