.title{
    font-size: 50px;
    margin-left: 100px;
}

.subtitle{
    margin-bottom: 20px;
    margin-left: 100px;
}

  .container{
    margin-left: 100px;
    margin-right: 100px;
      display: grid;
      grid-template-columns: 40% 40% ;
      justify-content: space-around;
  }

  .card{
      margin: 50px;
      background: rgb(75, 255, 75);
      color: black;
      cursor: default;
      transition: all 400ms ease;
      outline: 5px solid #000;
      outline-offset: -4px;
  }

/*   .card:hover{
      transform: translatey(-3%);
  } */

  .card img{
    width: 100%;
    outline: 5px solid #000;
    outline-offset: -4px;
  }

  .card .contenido{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bolder;
    
    
  }

  .card .contenido p {
    margin-top: -10px;
  }

  .card .contenido button {
      background: black;
      color: white;
  }

  .card .contenido button:hover {
    cursor: pointer;
}