.title{
  font-size: 40px;
  margin-left: 100px;
}

.title::after {
content: '';
width: 7%;
height: 5px;
display: block;
background: rgb(100,100,100);
transition: 300ms;
border-radius: 100px;
}

.subtitle{
  margin-bottom: 20px;
  margin-left: 150px;
}

.container{
  margin-left: 100px;
  margin-right: 100px;
    display: grid;
    grid-template-columns: 45% 45% ;
    justify-content: space-around;
}

.image{
  position: relative;
  width: 100%;
}

.image__img{
  display: block;
  width: 100%;
  outline: 5px solid #111111;
  outline-offset: -4px;
  user-select: none;
}

.image__overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image__overlay > *{
  transform: translateY(20px);
  transition: transform 0.3s;
}

.card:hover .image__overlay{
  opacity: 1;
}

.card:hover .image__overlay > *{
  transform: translateY(0);
}

.image__links{
  display: flex;
  font-size: 40px;
}

.image__link__container{
  display: flex;
  align-items: center;
  background: #111111;
  border-radius: 50%;
  padding: 9px;
  margin-left: 15px;
  margin-right: 15px;
 
}

.image__link{
  color: white;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.image__link:hover{
  cursor: pointer;
  color:rgb(75, 255, 75);
}

.card{
    margin: 50px;
    background: rgb(75, 255, 75);
    color: #111111;
    cursor: default;
    transition: all 400ms ease;
    outline: 5px solid #111111;
    outline-offset: -4px;
}

/*   .card:hover{
    transform: translatey(-3%);
} */

.card .description{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bolder;
  
  
}

.card .description p {
  margin-top: -10px;
}