.foot {
    width: 100%;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:grey;
    /* border: solid grey; */
    opacity: 0.3;
  }

.text {
    display: inline;
    margin-left: 30px;
    color: #111111;
    font-size: 25px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .text{
    font-size: 15px;
  }
}