body {
    background-color: #111111;
    color: white;
    margin: 0px
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: white;
}

hr{
    border: solid rgb(100, 100, 100);
    opacity: 0.4;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}