body {
    background-color: #111111;
    color: white;
    margin: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

a:hover {
    color: rgb(75, 255, 75);
}

hr {
    border: solid rgb(100, 100, 100);
    opacity: 0.4;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}